git
net-tools
aptitude
build-essential
python3-setuptools
python3-dev
python3-pip
python3-matplotlib
software-properties-common
ansible
curl
iptables
iputils-ping
sudo
cmake
sysstat
uuid-runtime
ca-certificates
autoconf
apt-transport-https
nano
