---
name: "Main Workflow"
on:
  push:
    branches:
      - master
jobs:
  build-diagrams:
    runs-on: ubuntu-20.04
    container:
      image: think/plantuml:1.2020.5
      options: '--entrypoint ""'
    steps:
      - uses: actions/checkout@v2
      - run: java -jar /plantuml.jar seminar/sequence-diagram.txt
      - uses: actions/upload-artifact@v2
        with:
          name: Sequence Diagram
          path: seminar/sequence-diagram.png
